.modal-body {
    h4 {
        font-size: 17px;
        margin-bottom: 5px;
    }

    label {
        margin-bottom: 0px;
    }

    .desc {
        font-size: 14px;
        color:#999;
        padding-bottom: 5px;
    }

    label.toggle {
        input {
            display: inline;
        }
        
    }
}

.chosen-choices {
    height: 37px;
    line-height: 37px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;

    .search-choice {
        line-height: 20px;
    }
}