body {

    .edit-panel {
        max-height: 0px;
        background-color: white;
        width: 100%;
        transition: all 0.3s linear;
        border-bottom: 5px solid #ccc;
        padding-left:10px;
        padding-right:10px;
        transform: translateY(-100%);
        overflow: hidden;
        z-index: 4;
        position: relative;
        
        .edit-state {
            margin-top:10px;
            margin-right:15px;
        }

        button {
            text-align: center;
        }

        .nav-pane {
            display: inline-block;
            padding-right:20px;
            margin-right:20px;
            padding-bottom: 15px;

            .nav-header {
                font-size:13px;
                padding-top: 10px;
            }

            .btn {
                margin-right: 2px;
            }
        }

    }

    &.can-edit {
        //padding-top: $panelHeight;
    
        .edit-panel {
            max-height: 200px;
            transform: translateY(0);
            margin-bottom: 10px;
        }
    }

    .zone-filter-items {
        position: absolute;
        z-index: 5;
        margin-top: 20px;
        background-color: white;
        border:1px solid #ccc;
        padding: 10px 0px;
        margin-left: 7px;
        min-width: 150px;

        .zone-filter-item {

            label {
                cursor: pointer;
                display: block;
                padding: 5px 20px;
            }
            
            &:hover {
                background-color: #f2f2f2;
            }

            input {
                margin-right: 10px;
            }
        }
    }
}