$grid-color : rgba(0,0,0,0.1);
$grid-size : 30px;

.no-padding-lr {
    padding-left: 0px;
    padding-right:0px;
}
html {
    height: 100%;
}
body {
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

    .ym-main-container {
        width: 100%;
        height: 100%;    
        
    }

    .show-grid {
        background-position: top left;
        background-image: linear-gradient(to right, $grid-color 1px, transparent 1px), linear-gradient(to bottom, $grid-color 1px, transparent 1px);   
        background-position: top left;
        background-size:$grid-size $grid-size;
    }   
    
    .overflow {
        max-width:inherit;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: fixed;
        top: 0px;

    }

    .yard-layout {
        min-width: 100%;
        height: 100%;
        min-height: 100%;            
    }

    .tooltip-container {
        position: absolute;
        border-radius: 5px;
        z-index: 2;
        padding:5px;
        top:400px;
        left:400px;
        background-color: black;
        transition:  left 0.2s ease-out;

        .tooltip-content {
            width: 100%;
            position: relative;
            height:100%;
            min-width: 200px;
            min-height: 50px;
            font-size: 14px;
            color:white;
            text-align: center;
            
            &:after {
                content: '';
                border:15px solid transparent;
                border-top-color: black;
                position: absolute;
                bottom: -25px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
            }

            .fa {
                color:#ccc;
                text-align: center;
                font-size: 30px;
                margin-top: 8px;
            }
        }

    }

    .black-out {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 3;
    }
}

.modal-xlg {
    min-width: 90%;
}

.sp-replacer {
    width: 125px;

    .sp-preview {
        width: 100px;
    }
}