.main-controls {
    padding:10px 20px 10px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid grey;

    .zoom-controls,
    .edit-controls {
        padding-left: 10px;
        padding-right: 10px;
        z-index: 1;

        button {
            .fa {
                font-size: 22px;
            }            
        }
    }

    .edit-controls {     
        float: right;
    }

    .edit-state {
        z-index: 4;
    }

    #search {
        z-index: 1;
        position: relative;
    }

}