.object {
    position: absolute;

    &.circle {
        border-radius: 100%;
    }

    span {
        color: white;
        text-align:center;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &.vertical {
        span {
            transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
        white-space: nowrap;
            
        }
    }

    &.horizontal {
        span {
            transform: translateY(-50%) translateX(-50%);
        }
    }

    &.hide-object {
        display: none;
    }
}

.ui-draggable-handle {
    cursor: move !important;

    .stack-container  {
        cursor: move !important;
    }
}

.ui-resizable-n,
.ui-resizable-s,
.ui-resizable-e,
.ui-resizable-w {
    &:after {
        content : ' ';
        width: 10px;
        height: 10px;
        border: 1px solid black;
        position: absolute;
        background-color: white;
        z-index: 1;
    }
}

.ui-resizable-n {
    &:after {
        transform: translateX(-50%) translateY(30%);
        left: 50%;
    }
}
.ui-resizable-s {
    &:after {
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
    }
}
.ui-resizable-e {
    &:after {
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
    }
}
.ui-resizable-w {
    &:after {
        transform: translateX(30%) translateY(-50%);
        top: 50%;
    }
} 