.row-view {
    position: fixed;
    bottom: 0px;
    background-color: white;
//    width: 100%;
    z-index: 5;
    height: 100%;
    max-height: 0px;
    transition: max-height .4s ease-out;

    .view-3d {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: #0099ff;
        color: white;
        padding: 15px 25px;
        border: 0px;
        cursor: pointer;
    }

    &.show-info {
        max-height: 500px;
    }

    &.temp-hide {
        max-height: 100px;
        border-top: 30px solid rgba(0,0,0,0.6);
    }

    .holding-zone {
        min-height: 50px;
        background-color: #eee;
        width: 100%;
        display: none;
        position: absolute;
        top: 0px;
        transform: translateY(-100%);
        transition: min-height 0.2s linear, top 0.2s linear;

        &.drop-hover {
            background-color: blue !important;
            min-height: 130px;
            transform: translateY(-100%);
        }

        .container-doors {
            width: 95px;
            text-align: center;
            font-size: 13px;
            height: 100px;
            display: table-cell;
            
            span {
                background-color: rgba(0,0,0,0.6);
                color:white;
                display: block;
                width: 100%;
                height: 40px;                
                position: absolute;
                bottom: 0px;
            }
            
            &.container-img {
                &-1 {
                    background: url('/img/container1.png');
                    background-size: contain;
                }
                &-2 {
                    background-image: url('/img/container2.png');
                    background-size: contain;
                }
                &-3 {
                    background-image: url('/img/container3.png');
                    background-size: contain;
                }
                &-4 {
                    background-image: url('/img/container4.png');
                    background-size: contain;
                }
            }
        }
        
    }

    .row-information {
        padding: 20px;

        .container-row {
            width: 100%;
            float: left;
            display: table-row;
            border-spacing:5px;

            .container-doors {
                width: 95px;
                text-align: center;
                font-size: 13px;
                height: 100px;
                display: table-cell;

                &.ui-draggable-dragging {
                    opacity: 0.5;
                }

                span {
                    background-color: rgba(0,0,0,0.6);
                    color:white;
                    display: block;
                    width: 100%;
                    height: 40px;                
                    position: absolute;
                    bottom: 0px;
                }

                &.drop-hover {
                    background-color: blue !important;
                }

                &.ui-droppable-active {
                    border-color: blue !important;
                }

                &.container-img {
                    &-1 {
                        background: url('/img/container1.png');
                        background-size: contain;
                    }
                    &-2 {
                        background-image: url('/img/container2.png');
                        background-size: contain;
                    }
                    &-3 {
                        background-image: url('/img/container3.png');
                        background-size: contain;
                    }
                    &-4 {
                        background-image: url('/img/container4.png');
                        background-size: contain;
                    }
                }

                &.container-blank {
                    background-color: #eee;
                    border:1px dashed #ccc;
                    line-height: 100px;

                    &:after {
                        content : 'Empty';
                        color: #ccc;
                    }
                }
            }
        }
        
    }

}