$grid-size : 20px;


@keyframes newStackHover {
    from { transform: rotate(0deg) translateX(-20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(-20px) rotate(-360deg); }
}


.stack-row {
    transform: scale(1);
    
    &.do-animate {
        
    }
}

.save-block-position {
    background-color: #00529e;
    color: white;
    padding: 5px 0px;
    text-align:center;
    margin-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: opacity 0.1s linear;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.stack:not(.ui-draggable):not(.edit-mode) {
    .stack-row {
        &:hover {
            background-color: #000;

            .capacity-amount {
                border-top: 5px solid;
                border-bottom: 5px solid;
                position: relative;
            }
        }
    
        .capacity-amount {
            &:hover {
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.4);
                    position: absolute;
                    left: 0px;
                }
            }
        }
    }

}

.start-drag {
    position: fixed !important;
    z-index: 99;
    animation: newStackHover 2s infinite linear;
    transform: translateX(0);
    transform: translateY(0); 
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.edit-mode {
    &:after {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0);
        transition: background-color 0.2s linear;
    }
    &:hover {
        &:after {
            content : "Click to edit";
            width: 100%;
            height: 100%;
            min-width: 100px;
            position: absolute;
            text-align: center;
            background-color: rgba(0,0,0,0.5);
            color: white;
            cursor: pointer;
            z-index: 5;
        }
    }
}

.stack {
    position: absolute;
    display: flex;    
    flex-direction: column;
    box-sizing: border-box;        
    background-image: url('/img/arrow-up.png');
    transition: opacity 0.2s linear;

    

    &.faded {
        opacity: 0.3;
    }
    
    .stack-row {
        display: flex;
        flex-direction: row;                        
        flex: 1;
        cursor: pointer;
        bottom:0px;
        transition: transform 0.2s linear, border 0.3s linear, bottom 0.3s linear;

        &.row-selected {
            transform: translateY(-100%)
        }

        .stack-container {
            flex: 1;
            margin:1px;
            box-sizing: border-box;
            display: relative;

            &.hide-tiers {
                .tiers {
                    display: none;
                }
            }

            .tiers {
                font-style: normal;
            }

            &.drop-hover {
                .capacity-amount {
                    background-color: blue !important;
                }
            }

            &.search-found {
                .capacity-amount {
                    animation: pulse 1s infinite;
                }
            }

            .capacity-amount {
                top:0px;
                width: 100%;
                height: 100%;
                font-size: 11px;
                text-align:center;
                display:table;
                transition: background-color 0.2s linear,border 0.2s linear;                

                span {
                    display:table-cell;
                    vertical-align: middle;
                }
            }            
    
        }
    }       
    
}

@keyframes pulse {
    0% {
        background-color: yellow;
    }
    30% {
        background-color: black;
        color:white;
    }
    55% {
        background-color: red;
    }
    80% {        
        background-color: black;
        color:white;
    }
    100% {        
        background-color: yellow;
    }
}
