<div class="stack-rules-container">

        <div class="hidden-template d-none">
            
            <div class="col-lg-3">
                <select class="form-control rule-category">
                    <option>ISO Code</option>
                    <option>Customer</option>
                    <option>Container Size</option>
                    <option>Mode</option>
                    <option>Vessel / Voyage</option>
                    <option>Train Schedule</option>
                </select>    
            </div>
            
            <div class="col-lg-2" style="padding-left:0px;">
                <select type="text" class="form-control rule-operator" id="basic-url" aria-describedby="basic-addon3">
                    <option>Equals</option>
                    <option>Not Equals</option>
                </select>
            </div>

            <div class="col-lg-6" style="padding-left:0px;">
                <select class="form-control chosen" style="width:100%" multiple="true">
                    <option>20G0</option><option>20G1</option><option>20H1</option><option>20T0</option><option>22G0</option><option>22G1</option><option>22V0</option><option>22RO</option><option>22R1</option><option>22H2</option><option>22U0</option><option>22U1</option><option>22P1</option><option>22P2</option><option>22P3</option><option>22P5</option><option>22T0</option><option>22T5</option><option>22B0</option><option>25G0</option><option>25R1</option><option>28U1</option><option>26T0</option><option>28P0</option><option>42G0</option><option>42G1</option><option>42V0</option><option>42RO</option><option>42U1</option><option>42P1</option><option>42P2</option><option>42P3</option><option>42P5</option><option>42B0</option><option>45G0</option><option>45R1</option><option>48U1</option><option>48P0</option>
                </select>
            </div>

            <div class="col-lg-1" style="padding-left:0px;">
                <button class="remove-row btn btn-secondary">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        
        
    </div>
    <button class="btn btn-secondary add-rule">
        <i class="fa fa-plus"></i> Add New Rule
    </button>