<div class="modal" id="createReferenceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a Reference</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Name</label>
                    
                        <input class="form-control" id="referenceCreate" />
                    </div>
                    <div class="col-sm-3">
                        <label>Background Color</label>
                        <br>
                        <input id="colorpickerCreateReference" />                        
                    </div>
                    <div class="col-sm-3">
                        <label>Shape</label>
                        <br>
                        <label>
                            <input type="radio" name="shape" value="square" checked /> Square
                        </label>
                        <label>
                            <input type="radio" name="shape" value="circle" /> Circle
                        </label>                       
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-4">
                        <label>Label Text</label>
                        <input type="text" class="form-control" id="labelText" />
                    </div>
                    <div class="col-sm-4">
                        <label>Label Orientation</label>
                            <br>
                        <label>
                            <input type="radio" name="labelOrientation" value="vertical" /> Vertical
                        </label>
                        <label>
                            <input type="radio" name="labelOrientation" value="horizontal" /> Horizontal                             
                        </label>
                    </div>
                    
                </div>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-primary build-reference">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>