<div class="modal" id="view3dstack" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xlg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    3D Stack
                </div>
                
                <div class="text-center">
                    <a href="#reset" onclick="controls.reset()" >Reset Camera</a>
                </div>

                <div id="container"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>